.main-content {
    background: #ffffff;
    position: relative;
}

.smart-top {
    object-fit: contain;
    position:absolute;
    top:-85%;
    left:65%;
    z-index:10;
}

.available-soon {
    font-size: 40px;
}

.sub-title {
    width: 30%;
    line-height: 1.43;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    line-height: 1em;
}

.big-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 70px;
    letter-spacing: 1.1px;
    color: #ffffff;
}

.landing-page .navbar-transparent{
    padding-top: 35px;
}

@media (max-width: 991px) {  
    .smart-top {
        display: none;
    }
        .carousel-small-screens {
        display: block !important;
        padding-top: 0vh !important;
    }

    .img-large-screens{
        display: none !important;   
    }

        .sub-title {
        width: 90% !important;
    }

    .dont-waste-time-res {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .navbar.navbar-transparent {
        padding-top: 36px;
        background-color: rgba(0, 150, 136, 0.5);
    }

.big-title {
font-size: 50px !important; 
}


    .smart-top {
        display: none;
    }

    .container {
        margin-right: auto;
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .row {
       margin-left: 0px;
       margin-right: 0px;
    }

    .big-caption-center {
        font-size: 30px !important; 
    }
 
    .big-caption {
        font-size: 30px !important;
    }

    .white-content-text {
        font-size: 18px !important;
    }
    .green-content-text {
        font-size: 18px !important;    
    }

    .title-icon {
        font-size: 22px !important;
    }

    .item-text {
        font-size: 18px !important;
    }

.image-middle {
        background-position: -100px !important;
    }
    .available-soon {
    font-size: 32px !important;
    }
.sub-title {

    font-size: 18px !important;
    }
    
}


.header-filter:after {
    background-color: transparent;
}
.tripir-t {
    width: 140px;
    height: 45px;
    font-family: 'Prosto One', cursive;
    font-size: 36px;
    color: #ffffff;
}



.menu-items {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    width: 130px;
}

.navbar .navbar-nav > li > a {
    font-size: 18px;
    text-transform: unset;
}

.pack-your-bags-and-go {
    width: 671px;
    height: 85px;    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.big-caption {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 66px;
    font-weight: bold;
}

.white {
    color: #ffffff !important;
}

.green {
    color: #009688 !important; 
}


.green-rectangule {
    background-color: #009688;
}

.white-rectangule {
    background-color: #ffffff;
}

.image-title {
    background-image: url('../img/background_top.jpg');
}

.image-last {
    background-image: url('../img/img-last.jpg');
}

.image-middle {
    background-image: url('../img/bag-middle-page.jpg');
    height: 400px;
}
.white-content-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #ffffff;
}

.green-content-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: #009688;
}


.line {
    width: 237.5px;
    height: 1px;
    object-fit: contain;
    border: solid 2px #ffffff;
}


.line-green {
    width: 237.5px;
    height: 1px;
    object-fit: contain;
    border: solid 2px #009688;
}
.dont-waste-time-res {
    width: 65%;
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    -webkit-border-radius: 4px;
}

.btn-label-green {
    color: #009688;

}

.rectangle-4, .rectangule-4:hover, .rectangule-4:focus {
    width: 112px;
    border-radius: 5px;
    background-color: #009688 !important;
    padding-top: 0px;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  -webkit-transform: skewY(-2.0deg);
          transform: skewY(-2.0deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.section {
    padding: 40px 0;
}

.section-plus-padding {
    padding: 70px 0;
}
.big-caption-center {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 66px;
    font-weight: bold;
    text-align: center;
}
.info .info-title {
    margin: 30px 0px 20px;
}

.title-icon {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}


.item-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    padding:0px 30px 0px 30px;
}

.title-last-image {
    padding-top: 3vh !important;
}

.landing-page .wrapper {
    background: #009688;
}

.footer {
    padding: 35px 0;
    background: #003831;
}

.carousel-small-screens {
    display: none;
}

.img-large-screens {
    display: block;   
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      max-width: 300px;
      margin: auto;
  }


.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

.carousel-control.right, .carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); */
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0))); */
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    }

    .carousel .left {
  cursor: default !important;
}
.carousel .right {
  cursor: default !important;
}
